@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Lobster&family=Roboto+Serif:opsz@8..144&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.flexColumn {
  display: grid;
  grid-template-columns: 2fr;
  align-items: center;
  grid-template-areas: "label input";
}

#home, #employeeList{
  background: linear-gradient(180deg, #768e12 0%, rgba(118, 142, 18, 0) 93.75%);
  width: 100%;
  height: 85vh;
}

.dNone{
  display: none;
}

#employeeList{
  .table-container{
    display: flex;
    justify-content: center;
  }
  a.home_navLink {
    transition: .5s;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    background-color: #556516;
    border-radius: 50%;
    margin: 0 auto 55px auto;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: #fff;
    &:hover{
      justify-content: initial;
      transition: .5s;
      border-radius: 10px;
      width: 80px;
    }
    &:hover > img{
      transition: .5s;
      margin: 5px
    }
    &:hover > span{
      margin: 4px 8px 4px 4px;
      transition: .5s;
      display: inline-block;
    }
  }
}

#home {
  a.home_navLink {
    padding: 0 7px;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    width: 120px;
    position: absolute;
    left: 50%;
    text-align: center;
    line-height: 40px;
    transform: translate(151%,-50%);
    top: 35%;
    background: linear-gradient(90deg, #eeeeee  75%, #5a6c0f 75%);
    margin: 0 auto;
    cursor: pointer;
    color: #000;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    border-radius: 0 15px 15px 0;
    img{
      width:20px;
    }
    span{
      display: block;
    }
    &:hover{
      transition: 1s;
      transform: translate(225%, -50%);
    }
  }
  input,
  select {
    width: 200px;
    margin: 10px 5px;
  }
  select {
    width: 208px;
    height: 30px;
  }
  fieldSet {
    border: 1px solid #000;
  }
  .departmentOpt {
    text-align: center;
  }
  .Form {
    display: flex;
    flex-direction: column;
    color: #000;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: #eeeeee;
    border: 1px solid #a6a6a6;
    border-radius: 32px;
    box-shadow: (0px 4px 33px rgba(0, 0, 0, 0.25));
    width: 607px;
    height: 457px;
    .form-menu {
      width: 100%;
      position: absolute;
      bottom: 10px;
      display: flex;
      justify-content: space-between;
    }
    button {
      cursor: pointer;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 2px;
      border: 0px #5a6c0f;
      background-color: #5a6c0f;
      margin: 25px auto;
      border-radius: 5px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      &:hover {
        background-color: #5a6c0fb1;
        transition-duration: 0.5s;
        transform: scale(1.025);
      }
    }
    .arrow-Btn{
      margin-top: 2px;
    }
    .disabled{
      background-color: grey;
      &:hover{
        transform: unset;
        background-color: grey;
      }
    }
    .form_title {
      text-align: center;
      margin-bottom: 10px;
    }
    .formEmployee {
      padding: 45px 90px;
      border-radius: 16px;
      label {
        font-weight: 500;
        margin: 0 5px;
      }
      input,
      select {
        border: 0.5px #000 solid;
        border-radius: 5px;
        height: 25px;
      }
      select{
        width: 206px;
        height: 29px;
      }
    }
    .address {
      legend {
        font-weight: 600;
        font-size: 18px;
      }
      input,
      select {
        border: 0px transparent;
        border-radius: 5px;
        height: 25px;
        margin: 10px auto;
      }
      label {
        font-weight: 500;
        padding: 0 30px;
      }
    }
  }
}

#Modal {
  display: none;
}

//rc-table

table {
  // border: 1px solid #46550bc9;
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
}

th,
td {
  text-align: -internal-center;
  padding: 10px;
}

td {
  // border: 1px solid #46550bc9;
  z-index: 1;
  background-color: #f9f9f9;
  text-align: center;
}

.rc-table {
  .rc-table-thead {
    .rc-table-cell {
      font-weight: normal;
      background-color: #46550bc9;
      color: #f5f5f5;
    }
  }

  .rc-table-tbody {
    .rc-table-row {
      .rc-table-cell {
        font-size: 1em;
      }
    }
  }
}

//Animation class
.rotate-center {
  -webkit-animation: rotate-center 60s linear infinite both;
  animation: rotate-center 60s linear infinite both;
}
.flip-vertical-right {
  -webkit-animation: flip-vertical-right 2s linear infinite both;
  animation: flip-vertical-right 2s linear infinite both;
}

// KeyFrames
@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
