#background{
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .a,.b,.c{
    position: absolute;
    border-radius: 50%;
  }
  .a{
    background-color: #56a18a;
    z-index: 1;
    right: -100px;
    bottom: -150px;
    transform: rotate(145deg);
    width: 400px;
    height: 550px;
  }
  
  .b{
    background-color: rgb(54 110 94);
    right: -200px;
    top: -200px;
    width: 1500px;
    height: 950px;
  }
  
  .c{
    background-color: rgb(68 131 112);
    left: -200px;
    bottom: -350px;
    width: 1900px;
    height: 1050px;
  }
}

