//rc-table PLUGIN

table {
  // border: 1px solid #46550bc9;
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
}

th,
td {
  text-align: -internal-center;
  padding: 10px;
}

td {
  // border: 1px solid #46550bc9;
  z-index: 1;
  background-color: #f9f9f9;
  text-align: center;
}

.rc-table {
  .rc-table-thead {
    .rc-table-cell {
      font-weight: normal;
      background-color: #46550bc9;
      color: #f5f5f5;
    }
  }
  
  .rc-table-tbody {
    .rc-table-row {
      .rc-table-cell {
        font-size: 1em;
      }
    }
  }
}
