//Table PLUGIN

.ag-theme-alpine {
  transform: scale(0.85)!important;
  margin: -45px auto 0;
  align-items: center!important;
  justify-content: center!important;
  .AgGrid-wrapper{
    margin-bottom: 5px;
    select#page-size{
      border-radius: 15px;
      color:#fff;
      background-color: #546414;
    }
    .AgGrid-header{
      color:#fff;
      font-weight: 500;
      select{
        margin-left: 5px;
      }
    }
  }
  .ag-header-row{
    font-size: 18px;
    background-color: #546414;
    color: #fff!important;
  }
  .ag-root-wrapper{
    border-radius: 15px;
  }
  .ag-paging-panel {
    background-color: #546414;
    color: #fff;
    span:before{
      color: #fff;
    }
  }
  .ag-cell{
    z-index: 0;
    color: #000;
    font-size: 18px;
    background-color: #ffffff ;
  }
}

.context-menu{
  cursor: pointer;
  position: absolute;
  padding-top: 10px;
  width: 200px;
  height: 30px;
  background-color: #546414;
  color: #fff;
  text-align: center;
  font-size: 16px;
  &:hover{
    background-color: rgb(54, 55, 49);    
  }
}
